.fadeOut{
  opacity: 0;
  animation: fadeOut 1s ease-in-out forwards;
}

.fadeIn{
  opacity: 1;
  animation: fadeIn 1s ease-in-out forwards;
}

/* Fade in animasyonu */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Fade out animasyonu */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}