/* [project]/app/css/maicons.css [app-client] (css) */
@font-face {
  font-family: maicons;
  src: url("../media/maicons.9961d5cd.eot");
  src: url("../media/maicons.9961d5cd.eot") format("embedded-opentype"), url("../media/maicons.038e6b37.ttf") format("truetype"), url("../media/maicons.a00524e0.woff") format("woff"), url("../media/maicons.ed6a2f9b.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="mai-"], [class*=" mai-"] {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: maicons !important;
}

.mai-add:before {
  content: "";
}

.mai-add-circle:before {
  content: "";
}

.mai-add-circle-outline:before {
  content: "";
}

.mai-airplane:before {
  content: "";
}

.mai-airplane-outline:before {
  content: "";
}

.mai-alarm:before {
  content: "";
}

.mai-alarm-outline:before {
  content: "";
}

.mai-albums:before {
  content: "";
}

.mai-albums-outline:before {
  content: "";
}

.mai-alert:before {
  content: "";
}

.mai-alert-circle:before {
  content: "";
}

.mai-alert-circle-outline:before {
  content: "";
}

.mai-analytics:before {
  content: "";
}

.mai-analytics-outline:before {
  content: "";
}

.mai-aperture:before {
  content: "";
}

.mai-aperture-outline:before {
  content: "";
}

.mai-apps:before {
  content: "";
}

.mai-apps-outline:before {
  content: "";
}

.mai-archive:before {
  content: "";
}

.mai-archive-outline:before {
  content: "";
}

.mai-arrow-back:before {
  content: "";
}

.mai-arrow-back-circle:before {
  content: "";
}

.mai-arrow-back-circle-outline:before {
  content: "";
}

.mai-arrow-down:before {
  content: "";
}

.mai-arrow-down-circle:before {
  content: "";
}

.mai-arrow-down-circle-outline:before {
  content: "";
}

.mai-arrow-forward:before {
  content: "";
}

.mai-arrow-forward-circle:before {
  content: "";
}

.mai-arrow-forward-circle-outline:before {
  content: "";
}

.mai-arrow-redo:before {
  content: "";
}

.mai-arrow-redo-circle:before {
  content: "";
}

.mai-arrow-redo-circle-outline:before {
  content: "";
}

.mai-arrow-redo-outline:before {
  content: "";
}

.mai-arrow-undo:before {
  content: "";
}

.mai-arrow-undo-circle:before {
  content: "";
}

.mai-arrow-undo-circle-outline:before {
  content: "";
}

.mai-arrow-undo-outline:before {
  content: "";
}

.mai-arrow-up:before {
  content: "";
}

.mai-arrow-up-circle:before {
  content: "";
}

.mai-arrow-up-circle-outline:before {
  content: "";
}

.mai-at:before {
  content: "";
}

.mai-at-circle:before {
  content: "";
}

.mai-at-circle-outline:before {
  content: "";
}

.mai-attach:before {
  content: "";
}

.mai-attach-outline:before {
  content: "";
}

.mai-backspace:before {
  content: "";
}

.mai-backspace-outline:before {
  content: "";
}

.mai-bandage:before {
  content: "";
}

.mai-bandage-outline:before {
  content: "";
}

.mai-bar-chart:before {
  content: "";
}

.mai-bar-chart-outline:before {
  content: "";
}

.mai-barbell:before {
  content: "";
}

.mai-barcode:before {
  content: "";
}

.mai-barcode-outline:before {
  content: "";
}

.mai-baseball:before {
  content: "";
}

.mai-baseball-outline:before {
  content: "";
}

.mai-basket:before {
  content: "";
}

.mai-basket-outline:before {
  content: "";
}

.mai-basketball:before {
  content: "";
}

.mai-basketball-outline:before {
  content: "";
}

.mai-battery-charging:before {
  content: "";
}

.mai-battery-dead:before {
  content: "";
}

.mai-battery-full:before {
  content: "";
}

.mai-battery-half:before {
  content: "";
}

.mai-beaker:before {
  content: "";
}

.mai-beaker-outline:before {
  content: "";
}

.mai-bed:before {
  content: "";
}

.mai-bed-outline:before {
  content: "";
}

.mai-beer:before {
  content: "";
}

.mai-beer-outline:before {
  content: "";
}

.mai-bicycle:before {
  content: "";
}

.mai-bluetooth:before {
  content: "";
}

.mai-boat:before {
  content: "";
}

.mai-boat-outline:before {
  content: "";
}

.mai-body:before {
  content: "";
}

.mai-body-outline:before {
  content: "";
}

.mai-bonfire:before {
  content: "";
}

.mai-bonfire-outline:before {
  content: "";
}

.mai-book:before {
  content: "";
}

.mai-book-outline:before {
  content: "";
}

.mai-bookmark:before {
  content: "";
}

.mai-bookmark-outline:before {
  content: "";
}

.mai-bookmarks:before {
  content: "";
}

.mai-bookmarks-outline:before {
  content: "";
}

.mai-briefcase:before {
  content: "";
}

.mai-briefcase-outline:before {
  content: "";
}

.mai-browsers:before {
  content: "";
}

.mai-browsers-outline:before {
  content: "";
}

.mai-brush:before {
  content: "";
}

.mai-brush-outline:before {
  content: "";
}

.mai-bug:before {
  content: "";
}

.mai-bug-outline:before {
  content: "";
}

.mai-build:before {
  content: "";
}

.mai-build-outline:before {
  content: "";
}

.mai-bulb:before {
  content: "";
}

.mai-bulb-outline:before {
  content: "";
}

.mai-bus:before {
  content: "";
}

.mai-bus-outline:before {
  content: "";
}

.mai-business:before {
  content: "";
}

.mai-business-outline:before {
  content: "";
}

.mai-cafe:before {
  content: "";
}

.mai-cafe-outline:before {
  content: "";
}

.mai-calculator:before {
  content: "";
}

.mai-calculator-outline:before {
  content: "";
}

.mai-calendar:before {
  content: "";
}

.mai-calendar-outline:before {
  content: "";
}

.mai-call:before {
  content: "";
}

.mai-call-outline:before {
  content: "";
}

.mai-camera:before {
  content: "";
}

.mai-camera-outline:before {
  content: "";
}

.mai-camera-reverse:before {
  content: "";
}

.mai-camera-reverse-outline:before {
  content: "";
}

.mai-car:before {
  content: "";
}

.mai-car-outline:before {
  content: "";
}

.mai-car-sport:before {
  content: "";
}

.mai-car-sport-outline:before {
  content: "";
}

.mai-card:before {
  content: "";
}

.mai-card-outline:before {
  content: "";
}

.mai-caret-back:before {
  content: "";
}

.mai-caret-back-circle:before {
  content: "";
}

.mai-caret-back-circle-outline:before {
  content: "";
}

.mai-caret-down:before {
  content: "";
}

.mai-caret-down-circle:before {
  content: "";
}

.mai-caret-down-circle-outline:before {
  content: "";
}

.mai-caret-forward:before {
  content: "";
}

.mai-caret-forward-circle:before {
  content: "";
}

.mai-caret-forward-circle-outline:before {
  content: "";
}

.mai-caret-up:before {
  content: "";
}

.mai-caret-up-circle:before {
  content: "";
}

.mai-caret-up-circle-outline:before {
  content: "";
}

.mai-cart:before {
  content: "";
}

.mai-cart-outline:before {
  content: "";
}

.mai-cash:before {
  content: "";
}

.mai-cash-outline:before {
  content: "";
}

.mai-chatbox:before {
  content: "";
}

.mai-chatbox-ellipses:before {
  content: "";
}

.mai-chatbox-ellipses-outline:before {
  content: "";
}

.mai-chatbox-outline:before {
  content: "";
}

.mai-chatbubble:before {
  content: "";
}

.mai-chatbubble-ellipses:before {
  content: "";
}

.mai-chatbubble-ellipses-outline:before {
  content: "";
}

.mai-chatbubble-outline:before {
  content: "";
}

.mai-chatbubbles:before {
  content: "";
}

.mai-chatbubbles-outline:before {
  content: "";
}

.mai-checkbox:before {
  content: "";
}

.mai-checkbox-outline:before {
  content: "";
}

.mai-checkmark:before {
  content: "";
}

.mai-checkmark-circle:before {
  content: "";
}

.mai-checkmark-circle-outline:before {
  content: "";
}

.mai-checkmark-done:before {
  content: "";
}

.mai-checkmark-done-circle:before {
  content: "";
}

.mai-checkmark-done-circle-outline:before {
  content: "";
}

.mai-chevron-back:before {
  content: "";
}

.mai-chevron-back-circle:before {
  content: "";
}

.mai-chevron-back-circle-outline:before {
  content: "";
}

.mai-chevron-down:before {
  content: "";
}

.mai-chevron-down-circle:before {
  content: "";
}

.mai-chevron-down-circle-outline:before {
  content: "";
}

.mai-chevron-forward:before {
  content: "";
}

.mai-chevron-forward-circle:before {
  content: "";
}

.mai-chevron-forward-circle-outline:before {
  content: "";
}

.mai-chevron-up:before {
  content: "";
}

.mai-chevron-up-circle:before {
  content: "";
}

.mai-chevron-up-circle-outline:before {
  content: "";
}

.mai-clipboard:before {
  content: "";
}

.mai-clipboard-outline:before {
  content: "";
}

.mai-close:before {
  content: "";
}

.mai-close-circle:before {
  content: "";
}

.mai-close-circle-outline:before {
  content: "";
}

.mai-cloud:before {
  content: "";
}

.mai-cloud-circle:before {
  content: "";
}

.mai-cloud-circle-outline:before {
  content: "";
}

.mai-cloud-done:before {
  content: "";
}

.mai-cloud-done-outline:before {
  content: "";
}

.mai-cloud-download:before {
  content: "";
}

.mai-cloud-download-outline:before {
  content: "";
}

.mai-cloud-offline:before {
  content: "";
}

.mai-cloud-offline-outline:before {
  content: "";
}

.mai-cloud-outline:before {
  content: "";
}

.mai-cloud-upload:before {
  content: "";
}

.mai-cloud-upload-outline:before {
  content: "";
}

.mai-cloudy:before {
  content: "";
}

.mai-cloudy-night:before {
  content: "";
}

.mai-cloudy-night-outline:before {
  content: "";
}

.mai-cloudy-outline:before {
  content: "";
}

.mai-code:before {
  content: "";
}

.mai-code-download:before {
  content: "";
}

.mai-code-slash:before {
  content: "";
}

.mai-code-working:before {
  content: "";
}

.mai-cog:before {
  content: "";
}

.mai-color-fill:before {
  content: "";
}

.mai-color-fill-outline:before {
  content: "";
}

.mai-color-filter:before {
  content: "";
}

.mai-color-filter-outline:before {
  content: "";
}

.mai-color-palette:before {
  content: "";
}

.mai-color-palette-outline:before {
  content: "";
}

.mai-color-wand:before {
  content: "";
}

.mai-color-wand-outline:before {
  content: "";
}

.mai-compass:before {
  content: "";
}

.mai-compass-outline:before {
  content: "";
}

.mai-construct:before {
  content: "";
}

.mai-construct-outline:before {
  content: "";
}

.mai-contract:before {
  content: "";
}

.mai-contrast:before {
  content: "";
}

.mai-copy:before {
  content: "";
}

.mai-copy-outline:before {
  content: "";
}

.mai-create:before {
  content: "";
}

.mai-create-outline:before {
  content: "";
}

.mai-crop:before {
  content: "";
}

.mai-cube:before {
  content: "";
}

.mai-cube-outline:before {
  content: "";
}

.mai-cut:before {
  content: "";
}

.mai-desktop:before {
  content: "";
}

.mai-desktop-outline:before {
  content: "";
}

.mai-disc:before {
  content: "";
}

.mai-disc-outline:before {
  content: "";
}

.mai-document:before {
  content: "";
}

.mai-document-outline:before {
  content: "";
}

.mai-document-text:before {
  content: "";
}

.mai-document-text-outline:before {
  content: "";
}

.mai-documents:before {
  content: "";
}

.mai-documents-outline:before {
  content: "";
}

.mai-download:before {
  content: "";
}

.mai-download-outline:before {
  content: "";
}

.mai-duplicate:before {
  content: "";
}

.mai-duplicate-outline:before {
  content: "";
}

.mai-ear:before {
  content: "";
}

.mai-ear-outline:before {
  content: "";
}

.mai-earth:before {
  content: "";
}

.mai-earth-outline:before {
  content: "";
}

.mai-easel:before {
  content: "";
}

.mai-easel-outline:before {
  content: "";
}

.mai-egg:before {
  content: "";
}

.mai-egg-outline:before {
  content: "";
}

.mai-ellipse:before {
  content: "";
}

.mai-ellipse-outline:before {
  content: "";
}

.mai-ellipsis-horizontal:before {
  content: "";
}

.mai-ellipsis-horizontal-circle:before {
  content: "";
}

.mai-ellipsis-vertical:before {
  content: "";
}

.mai-ellipsis-vertical-circle:before {
  content: "";
}

.mai-enter:before {
  content: "";
}

.mai-enter-outline:before {
  content: "";
}

.mai-exit:before {
  content: "";
}

.mai-exit-outline:before {
  content: "";
}

.mai-expand:before {
  content: "";
}

.mai-eye:before {
  content: "";
}

.mai-eye-off:before {
  content: "";
}

.mai-eye-off-outline:before {
  content: "";
}

.mai-eye-outline:before {
  content: "";
}

.mai-eyedrop:before {
  content: "";
}

.mai-eyedrop-outline:before {
  content: "";
}

.mai-fast-food:before {
  content: "";
}

.mai-fast-food-outline:before {
  content: "";
}

.mai-female:before {
  content: "";
}

.mai-file-tray:before {
  content: "";
}

.mai-file-tray-full:before {
  content: "";
}

.mai-file-tray-full-outline:before {
  content: "";
}

.mai-file-tray-outline:before {
  content: "";
}

.mai-film:before {
  content: "";
}

.mai-film-outline:before {
  content: "";
}

.mai-filter:before {
  content: "";
}

.mai-finger-print:before {
  content: "";
}

.mai-fitness:before {
  content: "";
}

.mai-fitness-outline:before {
  content: "";
}

.mai-flag:before {
  content: "";
}

.mai-flag-outline:before {
  content: "";
}

.mai-flame:before {
  content: "";
}

.mai-flame-outline:before {
  content: "";
}

.mai-flash:before {
  content: "";
}

.mai-flash-off:before {
  content: "";
}

.mai-flash-off-outline:before {
  content: "";
}

.mai-flash-outline:before {
  content: "";
}

.mai-flashlight:before {
  content: "";
}

.mai-flashlight-outline:before {
  content: "";
}

.mai-flask:before {
  content: "";
}

.mai-flask-outline:before {
  content: "";
}

.mai-flower:before {
  content: "";
}

.mai-flower-outline:before {
  content: "";
}

.mai-folder:before {
  content: "";
}

.mai-folder-open:before {
  content: "";
}

.mai-folder-open-outline:before {
  content: "";
}

.mai-folder-outline:before {
  content: "";
}

.mai-football:before {
  content: "";
}

.mai-football-outline:before {
  content: "";
}

.mai-funnel:before {
  content: "";
}

.mai-funnel-outline:before {
  content: "";
}

.mai-game-controller:before {
  content: "";
}

.mai-game-controller-outline:before {
  content: "";
}

.mai-gift:before {
  content: "";
}

.mai-gift-outline:before {
  content: "";
}

.mai-git-branch:before {
  content: "";
}

.mai-git-commit:before {
  content: "";
}

.mai-git-compare:before {
  content: "";
}

.mai-git-merge:before {
  content: "";
}

.mai-git-network:before {
  content: "";
}

.mai-git-pull-request:before {
  content: "";
}

.mai-glasses:before {
  content: "";
}

.mai-glasses-outline:before {
  content: "";
}

.mai-globe:before {
  content: "";
}

.mai-globe-outline:before {
  content: "";
}

.mai-golf:before {
  content: "";
}

.mai-golf-outline:before {
  content: "";
}

.mai-grid:before {
  content: "";
}

.mai-grid-outline:before {
  content: "";
}

.mai-hammer:before {
  content: "";
}

.mai-hammer-outline:before {
  content: "";
}

.mai-hand-left:before {
  content: "";
}

.mai-hand-left-outline:before {
  content: "";
}

.mai-hand-right:before {
  content: "";
}

.mai-hand-right-outline:before {
  content: "";
}

.mai-happy:before {
  content: "";
}

.mai-happy-outline:before {
  content: "";
}

.mai-hardware-chip:before {
  content: "";
}

.mai-hardware-chip-outline:before {
  content: "";
}

.mai-headset:before {
  content: "";
}

.mai-headset-outline:before {
  content: "";
}

.mai-heart:before {
  content: "";
}

.mai-heart-circle:before {
  content: "";
}

.mai-heart-circle-outline:before {
  content: "";
}

.mai-heart-dislike:before {
  content: "";
}

.mai-heart-dislike-circle:before {
  content: "";
}

.mai-heart-dislike-circle-outline:before {
  content: "";
}

.mai-heart-dislike-outline:before {
  content: "";
}

.mai-heart-half:before {
  content: "";
}

.mai-heart-half-outline:before {
  content: "";
}

.mai-heart-outline:before {
  content: "";
}

.mai-help:before {
  content: "";
}

.mai-help-buoy:before {
  content: "";
}

.mai-help-buoy-outline:before {
  content: "";
}

.mai-help-circle:before {
  content: "";
}

.mai-help-circle-outline:before {
  content: "";
}

.mai-home:before {
  content: "";
}

.mai-home-outline:before {
  content: "";
}

.mai-hourglass:before {
  content: "";
}

.mai-hourglass-outline:before {
  content: "";
}

.mai-ice-cream:before {
  content: "";
}

.mai-ice-cream-outline:before {
  content: "";
}

.mai-image:before {
  content: "";
}

.mai-image-outline:before {
  content: "";
}

.mai-images:before {
  content: "";
}

.mai-images-outline:before {
  content: "";
}

.mai-infinite:before {
  content: "";
}

.mai-information:before {
  content: "";
}

.mai-information-circle:before {
  content: "";
}

.mai-information-circle-outline:before {
  content: "";
}

.mai-journal:before {
  content: "";
}

.mai-journal-outline:before {
  content: "";
}

.mai-key:before {
  content: "";
}

.mai-key-outline:before {
  content: "";
}

.mai-keypad:before {
  content: "";
}

.mai-keypad-outline:before {
  content: "";
}

.mai-language:before {
  content: "";
}

.mai-laptop:before {
  content: "";
}

.mai-laptop-outline:before {
  content: "";
}

.mai-layers:before {
  content: "";
}

.mai-layers-outline:before {
  content: "";
}

.mai-leaf:before {
  content: "";
}

.mai-leaf-outline:before {
  content: "";
}

.mai-library:before {
  content: "";
}

.mai-library-outline:before {
  content: "";
}

.mai-link:before {
  content: "";
}

.mai-list:before {
  content: "";
}

.mai-list-circle:before {
  content: "";
}

.mai-list-circle-outline:before {
  content: "";
}

.mai-locate:before {
  content: "";
}

.mai-location:before {
  content: "";
}

.mai-location-outline:before {
  content: "";
}

.mai-lock-closed:before {
  content: "";
}

.mai-lock-closed-outline:before {
  content: "";
}

.mai-lock-open:before {
  content: "";
}

.mai-lock-open-outline:before {
  content: "";
}

.mai-log-in:before {
  content: "";
}

.mai-log-in-outline:before {
  content: "";
}

.mai-log-out:before {
  content: "";
}

.mai-log-out-outline:before {
  content: "";
}

.mai-logo-500px:before {
  content: "";
}

.mai-logo-accessible-icon:before {
  content: "";
}

.mai-logo-accusoft:before {
  content: "";
}

.mai-logo-algolia:before {
  content: "";
}

.mai-logo-alipay:before {
  content: "";
}

.mai-logo-amazon:before {
  content: "";
}

.mai-logo-amplify:before {
  content: "";
}

.mai-logo-android:before {
  content: "";
}

.mai-logo-angular:before {
  content: "";
}

.mai-logo-apple:before {
  content: "";
}

.mai-logo-apple-appstore:before {
  content: "";
}

.mai-logo-aws:before {
  content: "";
}

.mai-logo-behance:before {
  content: "";
}

.mai-logo-bitbucket:before {
  content: "";
}

.mai-logo-bitcoin:before {
  content: "";
}

.mai-logo-blackberry:before {
  content: "";
}

.mai-logo-blogger:before {
  content: "";
}

.mai-logo-buffer:before {
  content: "";
}

.mai-logo-buysellads:before {
  content: "";
}

.mai-logo-capacitor:before {
  content: "";
}

.mai-logo-cc-amazon-pay:before {
  content: "";
}

.mai-logo-cc-amex:before {
  content: "";
}

.mai-logo-cc-apple-pay:before {
  content: "";
}

.mai-logo-cc-diners-club:before {
  content: "";
}

.mai-logo-cc-discover:before {
  content: "";
}

.mai-logo-cc-jcb:before {
  content: "";
}

.mai-logo-cc-mastercard:before {
  content: "";
}

.mai-logo-cc-paypal:before {
  content: "";
}

.mai-logo-cc-stripe:before {
  content: "";
}

.mai-logo-cc-visa:before {
  content: "";
}

.mai-logo-chrome:before {
  content: "";
}

.mai-logo-closed-captioning:before {
  content: "";
}

.mai-logo-codepen:before {
  content: "";
}

.mai-logo-cpanel:before {
  content: "";
}

.mai-logo-creative-commons:before {
  content: "";
}

.mai-logo-css3:before {
  content: "";
}

.mai-logo-cuttlefish:before {
  content: "";
}

.mai-logo-d-and-d:before {
  content: "";
}

.mai-logo-dashcube:before {
  content: "";
}

.mai-logo-designernews:before {
  content: "";
}

.mai-logo-deviantart:before {
  content: "";
}

.mai-logo-digg:before {
  content: "";
}

.mai-logo-digital-ocean:before {
  content: "";
}

.mai-logo-discord:before {
  content: "";
}

.mai-logo-discourse:before {
  content: "";
}

.mai-logo-dochub:before {
  content: "";
}

.mai-logo-docker:before {
  content: "";
}

.mai-logo-dribbble:before {
  content: "";
}

.mai-logo-dropbox:before {
  content: "";
}

.mai-logo-drupal:before {
  content: "";
}

.mai-logo-dyalog:before {
  content: "";
}

.mai-logo-earlybirds:before {
  content: "";
}

.mai-logo-ebay:before {
  content: "";
}

.mai-logo-edge:before {
  content: "";
}

.mai-logo-electron:before {
  content: "";
}

.mai-logo-elementor:before {
  content: "";
}

.mai-logo-ello:before {
  content: "";
}

.mai-logo-ember:before {
  content: "";
}

.mai-logo-empire:before {
  content: "";
}

.mai-logo-envira:before {
  content: "";
}

.mai-logo-erlang:before {
  content: "";
}

.mai-logo-etsy:before {
  content: "";
}

.mai-logo-euro:before {
  content: "";
}

.mai-logo-expeditedssl:before {
  content: "";
}

.mai-logo-facebook:before {
  content: "";
}

.mai-logo-facebook-f:before {
  content: "";
}

.mai-logo-facebook-messenger:before {
  content: "";
}

.mai-logo-firebase:before {
  content: "";
}

.mai-logo-firefox:before {
  content: "";
}

.mai-logo-flickr:before {
  content: "";
}

.mai-logo-flipboard:before {
  content: "";
}

.mai-logo-fly:before {
  content: "";
}

.mai-logo-foursquare:before {
  content: "";
}

.mai-logo-freebsd:before {
  content: "";
}

.mai-logo-gg:before {
  content: "";
}

.mai-logo-git:before {
  content: "";
}

.mai-logo-github:before {
  content: "";
}

.mai-logo-github-alt:before {
  content: "";
}

.mai-logo-gitlab:before {
  content: "";
}

.mai-logo-gitter:before {
  content: "";
}

.mai-logo-glide:before {
  content: "";
}

.mai-logo-glide-g:before {
  content: "";
}

.mai-logo-google:before {
  content: "";
}

.mai-logo-google-drive:before {
  content: "";
}

.mai-logo-google-play:before {
  content: "";
}

.mai-logo-google-playstore:before {
  content: "";
}

.mai-logo-google-plus:before {
  content: "";
}

.mai-logo-google-plus-g:before {
  content: "";
}

.mai-logo-google-wallet:before {
  content: "";
}

.mai-logo-grunt:before {
  content: "";
}

.mai-logo-gulp:before {
  content: "";
}

.mai-logo-hackernews:before {
  content: "";
}

.mai-logo-hotjar:before {
  content: "";
}

.mai-logo-html5:before {
  content: "";
}

.mai-logo-hubspot:before {
  content: "";
}

.mai-logo-imdb:before {
  content: "";
}

.mai-logo-instagram:before {
  content: "";
}

.mai-logo-internet-explorer:before {
  content: "";
}

.mai-logo-ionic:before {
  content: "";
}

.mai-logo-ionitron:before {
  content: "";
}

.mai-logo-itunes:before {
  content: "";
}

.mai-logo-java:before {
  content: "";
}

.mai-logo-javascript:before {
  content: "";
}

.mai-logo-joomla:before {
  content: "";
}

.mai-logo-jsfiddle:before {
  content: "";
}

.mai-logo-keycdn:before {
  content: "";
}

.mai-logo-laravel:before {
  content: "";
}

.mai-logo-lastfm:before {
  content: "";
}

.mai-logo-leanpub:before {
  content: "";
}

.mai-logo-less:before {
  content: "";
}

.mai-logo-line:before {
  content: "";
}

.mai-logo-linkedin:before {
  content: "";
}

.mai-logo-linux:before {
  content: "";
}

.mai-logo-magento:before {
  content: "";
}

.mai-logo-mailchimp:before {
  content: "";
}

.mai-logo-markdown:before {
  content: "";
}

.mai-logo-maxcdn:before {
  content: "";
}

.mai-logo-medium:before {
  content: "";
}

.mai-logo-medium-m:before {
  content: "";
}

.mai-logo-meetup:before {
  content: "";
}

.mai-logo-microsoft:before {
  content: "";
}

.mai-logo-mix:before {
  content: "";
}

.mai-logo-mixcloud:before {
  content: "";
}

.mai-logo-nodejs:before {
  content: "";
}

.mai-logo-npm:before {
  content: "";
}

.mai-logo-octocat:before {
  content: "";
}

.mai-logo-opencart:before {
  content: "";
}

.mai-logo-openid:before {
  content: "";
}

.mai-logo-opera:before {
  content: "";
}

.mai-logo-patreon:before {
  content: "";
}

.mai-logo-paypal:before {
  content: "";
}

.mai-logo-php:before {
  content: "";
}

.mai-logo-pinterest:before {
  content: "";
}

.mai-logo-pinterest-p:before {
  content: "";
}

.mai-logo-playstation:before {
  content: "";
}

.mai-logo-product-hunt:before {
  content: "";
}

.mai-logo-pwa:before {
  content: "";
}

.mai-logo-python:before {
  content: "";
}

.mai-logo-qq:before {
  content: "";
}

.mai-logo-quora:before {
  content: "";
}

.mai-logo-react:before {
  content: "";
}

.mai-logo-readme:before {
  content: "";
}

.mai-logo-reddit:before {
  content: "";
}

.mai-logo-researchgate:before {
  content: "";
}

.mai-logo-rocketchat:before {
  content: "";
}

.mai-logo-rss:before {
  content: "";
}

.mai-logo-safari:before {
  content: "";
}

.mai-logo-sass:before {
  content: "";
}

.mai-logo-scribd:before {
  content: "";
}

.mai-logo-searchengin:before {
  content: "";
}

.mai-logo-sellcast:before {
  content: "";
}

.mai-logo-sellsy:before {
  content: "";
}

.mai-logo-skype:before {
  content: "";
}

.mai-logo-slack:before {
  content: "";
}

.mai-logo-slideshare:before {
  content: "";
}

.mai-logo-snapchat:before {
  content: "";
}

.mai-logo-soundcloud:before {
  content: "";
}

.mai-logo-spotify:before {
  content: "";
}

.mai-logo-squarespace:before {
  content: "";
}

.mai-logo-stack-exchange:before {
  content: "";
}

.mai-logo-stackoverflow:before {
  content: "";
}

.mai-logo-staylinked:before {
  content: "";
}

.mai-logo-steam:before {
  content: "";
}

.mai-logo-stencil:before {
  content: "";
}

.mai-logo-stripe:before {
  content: "";
}

.mai-logo-stripe-s:before {
  content: "";
}

.mai-logo-teamspeak:before {
  content: "";
}

.mai-logo-telegram:before {
  content: "";
}

.mai-logo-trello:before {
  content: "";
}

.mai-logo-tripadvisor:before {
  content: "";
}

.mai-logo-tumblr:before {
  content: "";
}

.mai-logo-tux:before {
  content: "";
}

.mai-logo-twitch:before {
  content: "";
}

.mai-logo-twitter:before {
  content: "";
}

.mai-logo-uber:before {
  content: "";
}

.mai-logo-uikit:before {
  content: "";
}

.mai-logo-usd:before {
  content: "";
}

.mai-logo-viacoin:before {
  content: "";
}

.mai-logo-viadeo:before {
  content: "";
}

.mai-logo-viber:before {
  content: "";
}

.mai-logo-vimeo:before {
  content: "";
}

.mai-logo-vk:before {
  content: "";
}

.mai-logo-vue:before {
  content: "";
}

.mai-logo-web-component:before {
  content: "";
}

.mai-logo-weebly:before {
  content: "";
}

.mai-logo-weibo:before {
  content: "";
}

.mai-logo-whatsapp:before {
  content: "";
}

.mai-logo-whmcs:before {
  content: "";
}

.mai-logo-wikipedia-w:before {
  content: "";
}

.mai-logo-windows:before {
  content: "";
}

.mai-logo-wix:before {
  content: "";
}

.mai-logo-wordpress:before {
  content: "";
}

.mai-logo-xbox:before {
  content: "";
}

.mai-logo-xing:before {
  content: "";
}

.mai-logo-yahoo:before {
  content: "";
}

.mai-logo-yen:before {
  content: "";
}

.mai-logo-youtube:before {
  content: "";
}

.mai-magnet:before {
  content: "";
}

.mai-magnet-outline:before {
  content: "";
}

.mai-mail:before {
  content: "";
}

.mai-mail-open:before {
  content: "";
}

.mai-mail-open-outline:before {
  content: "";
}

.mai-mail-outline:before {
  content: "";
}

.mai-mail-unread:before {
  content: "";
}

.mai-mail-unread-outline:before {
  content: "";
}

.mai-male:before {
  content: "";
}

.mai-male-female:before {
  content: "";
}

.mai-man:before {
  content: "";
}

.mai-man-outline:before {
  content: "";
}

.mai-map:before {
  content: "";
}

.mai-map-outline:before {
  content: "";
}

.mai-medal:before {
  content: "";
}

.mai-medal-outline:before {
  content: "";
}

.mai-medical:before {
  content: "";
}

.mai-medical-outline:before {
  content: "";
}

.mai-medkit:before {
  content: "";
}

.mai-medkit-outline:before {
  content: "";
}

.mai-megaphone:before {
  content: "";
}

.mai-megaphone-outline:before {
  content: "";
}

.mai-menu:before {
  content: "";
}

.mai-mic:before {
  content: "";
}

.mai-mic-circle:before {
  content: "";
}

.mai-mic-circle-outline:before {
  content: "";
}

.mai-mic-off:before {
  content: "";
}

.mai-mic-off-circle:before {
  content: "";
}

.mai-mic-off-circle-outline:before {
  content: "";
}

.mai-mic-off-outline:before {
  content: "";
}

.mai-mic-outline:before {
  content: "";
}

.mai-moon:before {
  content: "";
}

.mai-moon-outline:before {
  content: "";
}

.mai-move:before {
  content: "";
}

.mai-musical-note:before {
  content: "";
}

.mai-musical-note-outline:before {
  content: "";
}

.mai-musical-notes:before {
  content: "";
}

.mai-musical-notes-outline:before {
  content: "";
}

.mai-navigate:before {
  content: "";
}

.mai-navigate-circle:before {
  content: "";
}

.mai-navigate-circle-outline:before {
  content: "";
}

.mai-navigate-outline:before {
  content: "";
}

.mai-newspaper:before {
  content: "";
}

.mai-newspaper-outline:before {
  content: "";
}

.mai-notifications:before {
  content: "";
}

.mai-notifications-circle:before {
  content: "";
}

.mai-notifications-circle-outline:before {
  content: "";
}

.mai-notifications-off:before {
  content: "";
}

.mai-notifications-off-circle:before {
  content: "";
}

.mai-notifications-off-circle-outline:before {
  content: "";
}

.mai-notifications-off-outline:before {
  content: "";
}

.mai-notifications-outline:before {
  content: "";
}

.mai-nuclear:before {
  content: "";
}

.mai-nuclear-outline:before {
  content: "";
}

.mai-nutrition:before {
  content: "";
}

.mai-nutrition-outline:before {
  content: "";
}

.mai-open:before {
  content: "";
}

.mai-open-outline:before {
  content: "";
}

.mai-options:before {
  content: "";
}

.mai-options-outline:before {
  content: "";
}

.mai-paper-plane:before {
  content: "";
}

.mai-paper-plane-outline:before {
  content: "";
}

.mai-partly-sunny:before {
  content: "";
}

.mai-partly-sunny-outline:before {
  content: "";
}

.mai-pause:before {
  content: "";
}

.mai-pause-circle:before {
  content: "";
}

.mai-pause-circle-outline:before {
  content: "";
}

.mai-paw:before {
  content: "";
}

.mai-paw-outline:before {
  content: "";
}

.mai-pencil:before {
  content: "";
}

.mai-people:before {
  content: "";
}

.mai-people-circle:before {
  content: "";
}

.mai-people-circle-outline:before {
  content: "";
}

.mai-people-outline:before {
  content: "";
}

.mai-person:before {
  content: "";
}

.mai-person-add:before {
  content: "";
}

.mai-person-add-outline:before {
  content: "";
}

.mai-person-circle:before {
  content: "";
}

.mai-person-circle-outline:before {
  content: "";
}

.mai-person-outline:before {
  content: "";
}

.mai-person-remove:before {
  content: "";
}

.mai-person-remove-outline:before {
  content: "";
}

.mai-phone-landscape:before {
  content: "";
}

.mai-phone-landscape-outline:before {
  content: "";
}

.mai-phone-portrait:before {
  content: "";
}

.mai-phone-portrait-outline:before {
  content: "";
}

.mai-pie-chart:before {
  content: "";
}

.mai-pie-chart-outline:before {
  content: "";
}

.mai-pin:before {
  content: "";
}

.mai-pin-outline:before {
  content: "";
}

.mai-pint:before {
  content: "";
}

.mai-pint-outline:before {
  content: "";
}

.mai-pizza:before {
  content: "";
}

.mai-pizza-outline:before {
  content: "";
}

.mai-planet:before {
  content: "";
}

.mai-planet-outline:before {
  content: "";
}

.mai-play:before {
  content: "";
}

.mai-play-back:before {
  content: "";
}

.mai-play-back-circle:before {
  content: "";
}

.mai-play-back-circle-outline:before {
  content: "";
}

.mai-play-back-outline:before {
  content: "";
}

.mai-play-circle:before {
  content: "";
}

.mai-play-circle-outline:before {
  content: "";
}

.mai-play-forward:before {
  content: "";
}

.mai-play-forward-circle:before {
  content: "";
}

.mai-play-forward-circle-outline:before {
  content: "";
}

.mai-play-forward-outline:before {
  content: "";
}

.mai-play-outline:before {
  content: "";
}

.mai-play-skip-back:before {
  content: "";
}

.mai-play-skip-back-circle:before {
  content: "";
}

.mai-play-skip-back-circle-outline:before {
  content: "";
}

.mai-play-skip-back-outline:before {
  content: "";
}

.mai-play-skip-forward:before {
  content: "";
}

.mai-play-skip-forward-circle:before {
  content: "";
}

.mai-play-skip-forward-circle-outline:before {
  content: "";
}

.mai-play-skip-forward-outline:before {
  content: "";
}

.mai-podium:before {
  content: "";
}

.mai-podium-outline:before {
  content: "";
}

.mai-power:before {
  content: "";
}

.mai-pricetag:before {
  content: "";
}

.mai-pricetag-outline:before {
  content: "";
}

.mai-pricetags:before {
  content: "";
}

.mai-pricetags-outline:before {
  content: "";
}

.mai-print:before {
  content: "";
}

.mai-print-outline:before {
  content: "";
}

.mai-pulse:before {
  content: "";
}

.mai-pulse-outline:before {
  content: "";
}

.mai-push:before {
  content: "";
}

.mai-push-outline:before {
  content: "";
}

.mai-qr-code:before {
  content: "";
}

.mai-qr-code-outline:before {
  content: "";
}

.mai-radio:before {
  content: "";
}

.mai-radio-button-off:before {
  content: "";
}

.mai-radio-button-on:before {
  content: "";
}

.mai-rainy:before {
  content: "";
}

.mai-rainy-outline:before {
  content: "";
}

.mai-reader:before {
  content: "";
}

.mai-reader-outline:before {
  content: "";
}

.mai-receipt:before {
  content: "";
}

.mai-receipt-outline:before {
  content: "";
}

.mai-recording:before {
  content: "";
}

.mai-recording-outline:before {
  content: "";
}

.mai-refresh:before {
  content: "";
}

.mai-refresh-circle:before {
  content: "";
}

.mai-refresh-circle-outline:before {
  content: "";
}

.mai-reload:before {
  content: "";
}

.mai-reload-circle:before {
  content: "";
}

.mai-reload-circle-outline:before {
  content: "";
}

.mai-remove:before {
  content: "";
}

.mai-remove-circle:before {
  content: "";
}

.mai-remove-circle-outline:before {
  content: "";
}

.mai-reorder-four:before {
  content: "";
}

.mai-reorder-three:before {
  content: "";
}

.mai-reorder-two:before {
  content: "";
}

.mai-repeat:before {
  content: "";
}

.mai-resize:before {
  content: "";
}

.mai-restaurant:before {
  content: "";
}

.mai-restaurant-outline:before {
  content: "";
}

.mai-return-down-back:before {
  content: "";
}

.mai-return-down-forward:before {
  content: "";
}

.mai-return-up-back:before {
  content: "";
}

.mai-return-up-forward:before {
  content: "";
}

.mai-ribbon:before {
  content: "";
}

.mai-ribbon-outline:before {
  content: "";
}

.mai-rocket:before {
  content: "";
}

.mai-rocket-outline:before {
  content: "";
}

.mai-rose:before {
  content: "";
}

.mai-rose-outline:before {
  content: "";
}

.mai-sad:before {
  content: "";
}

.mai-sad-outline:before {
  content: "";
}

.mai-save:before {
  content: "";
}

.mai-save-outline:before {
  content: "";
}

.mai-scan:before {
  content: "";
}

.mai-scan-circle:before {
  content: "";
}

.mai-scan-circle-outline:before {
  content: "";
}

.mai-school:before {
  content: "";
}

.mai-school-outline:before {
  content: "";
}

.mai-search:before {
  content: "";
}

.mai-search-circle:before {
  content: "";
}

.mai-search-circle-outline:before {
  content: "";
}

.mai-send:before {
  content: "";
}

.mai-send-outline:before {
  content: "";
}

.mai-server:before {
  content: "";
}

.mai-server-outline:before {
  content: "";
}

.mai-settings:before {
  content: "";
}

.mai-settings-outline:before {
  content: "";
}

.mai-shapes:before {
  content: "";
}

.mai-shapes-outline:before {
  content: "";
}

.mai-share:before {
  content: "";
}

.mai-share-outline:before {
  content: "";
}

.mai-share-social:before {
  content: "";
}

.mai-share-social-outline:before {
  content: "";
}

.mai-shield:before {
  content: "";
}

.mai-shield-checkmark:before {
  content: "";
}

.mai-shield-checkmark-outline:before {
  content: "";
}

.mai-shield-outline:before {
  content: "";
}

.mai-shirt:before {
  content: "";
}

.mai-shirt-outline:before {
  content: "";
}

.mai-shuffle:before {
  content: "";
}

.mai-skull:before {
  content: "";
}

.mai-skull-outline:before {
  content: "";
}

.mai-snow:before {
  content: "";
}

.mai-speedometer:before {
  content: "";
}

.mai-speedometer-outline:before {
  content: "";
}

.mai-square:before {
  content: "";
}

.mai-square-outline:before {
  content: "";
}

.mai-star:before {
  content: "";
}

.mai-star-half:before {
  content: "";
}

.mai-star-outline:before {
  content: "";
}

.mai-stats-chart:before {
  content: "";
}

.mai-stats-chart-outline:before {
  content: "";
}

.mai-stop:before {
  content: "";
}

.mai-stop-circle:before {
  content: "";
}

.mai-stop-circle-outline:before {
  content: "";
}

.mai-stop-outline:before {
  content: "";
}

.mai-stopwatch:before {
  content: "";
}

.mai-stopwatch-outline:before {
  content: "";
}

.mai-subway:before {
  content: "";
}

.mai-subway-outline:before {
  content: "";
}

.mai-sunny:before {
  content: "";
}

.mai-sunny-outline:before {
  content: "";
}

.mai-swap-horizontal:before {
  content: "";
}

.mai-swap-vertical:before {
  content: "";
}

.mai-sync:before {
  content: "";
}

.mai-sync-circle:before {
  content: "";
}

.mai-sync-circle-outline:before {
  content: "";
}

.mai-tablet-landscape:before {
  content: "";
}

.mai-tablet-landscape-outline:before {
  content: "";
}

.mai-tablet-portrait:before {
  content: "";
}

.mai-tablet-portrait-outline:before {
  content: "";
}

.mai-tennisball:before {
  content: "";
}

.mai-tennisball-outline:before {
  content: "";
}

.mai-terminal:before {
  content: "";
}

.mai-terminal-outline:before {
  content: "";
}

.mai-text:before {
  content: "";
}

.mai-thermometer:before {
  content: "";
}

.mai-thermometer-outline:before {
  content: "";
}

.mai-thumbs-down:before {
  content: "";
}

.mai-thumbs-down-outline:before {
  content: "";
}

.mai-thumbs-up:before {
  content: "";
}

.mai-thumbs-up-outline:before {
  content: "";
}

.mai-thunderstorm:before {
  content: "";
}

.mai-thunderstorm-outline:before {
  content: "";
}

.mai-time:before {
  content: "";
}

.mai-time-outline:before {
  content: "";
}

.mai-timer:before {
  content: "";
}

.mai-timer-outline:before {
  content: "";
}

.mai-today:before {
  content: "";
}

.mai-today-outline:before {
  content: "";
}

.mai-toggle:before {
  content: "";
}

.mai-toggle-outline:before {
  content: "";
}

.mai-trail-sign:before {
  content: "";
}

.mai-trail-sign-outline:before {
  content: "";
}

.mai-train:before {
  content: "";
}

.mai-train-outline:before {
  content: "";
}

.mai-transgender:before {
  content: "";
}

.mai-trash:before {
  content: "";
}

.mai-trash-bin:before {
  content: "";
}

.mai-trash-bin-outline:before {
  content: "";
}

.mai-trash-outline:before {
  content: "";
}

.mai-trending-down:before {
  content: "";
}

.mai-trending-up:before {
  content: "";
}

.mai-triangle:before {
  content: "";
}

.mai-triangle-outline:before {
  content: "";
}

.mai-trophy:before {
  content: "";
}

.mai-trophy-outline:before {
  content: "";
}

.mai-tv:before {
  content: "";
}

.mai-tv-outline:before {
  content: "";
}

.mai-umbrella:before {
  content: "";
}

.mai-umbrella-outline:before {
  content: "";
}

.mai-videocam:before {
  content: "";
}

.mai-videocam-outline:before {
  content: "";
}

.mai-volume-high:before {
  content: "";
}

.mai-volume-high-outline:before {
  content: "";
}

.mai-volume-low:before {
  content: "";
}

.mai-volume-low-outline:before {
  content: "";
}

.mai-volume-medium:before {
  content: "";
}

.mai-volume-medium-outline:before {
  content: "";
}

.mai-volume-mute:before {
  content: "";
}

.mai-volume-mute-outline:before {
  content: "";
}

.mai-volume-off:before {
  content: "";
}

.mai-volume-off-outline:before {
  content: "";
}

.mai-walk:before {
  content: "";
}

.mai-walk-outline:before {
  content: "";
}

.mai-wallet:before {
  content: "";
}

.mai-wallet-outline:before {
  content: "";
}

.mai-warning:before {
  content: "";
}

.mai-warning-outline:before {
  content: "";
}

.mai-watch:before {
  content: "";
}

.mai-watch-outline:before {
  content: "";
}

.mai-water:before {
  content: "";
}

.mai-water-outline:before {
  content: "";
}

.mai-wifi:before {
  content: "";
}

.mai-wine:before {
  content: "";
}

.mai-wine-outline:before {
  content: "";
}

.mai-woman:before {
  content: "";
}

.mai-woman-outline:before {
  content: "";
}

/*# sourceMappingURL=app_css_maicons_b52d8e.css.map*/